<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>风控系统 - 宝驾租车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="/css/plugin/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/controlSys.css" rel="stylesheet">
    <script src="/js/sea.js"></script>
    <script src="/js/seaconfig.js"></script>
    <script type="text/javascript">
    </script>
</head>

<body>
    <div class="mian_side">
        <div class="mian_side">
            <div class="main_le_content">
                <div class="main_menu_box margin_b_b ms-controller" ms-controller="condition">
                    <div class="menu_box_tit margin_s_b">
                        <span class="pull-left">短租订单 {{shortorder}}</span>
                        <span class="pull-right">风控</span>
                    </div>
                    <div class="menu_box_content">
                        <div class="menu_box_content_tit">
                            <span class="pull-left">租客：{{customer}}   {{telphone}}</span>
                            <small class="sjiao pull-left"></small>
                        </div>
                        <div class="menu_box_content_sj">
                            <div>计划用车时间：{{planDate}}</div>
                            <div>实际用车时间：{{actualDate}}</div>
                            <div>车辆押金：{{carDeposit}}</div>
                            <div>违章押金：{{legalDeposit}}</div>
                        </div>
                    </div>
                    <div class="menu_box_content">
                        <div class="menu_box_content_tit">
                            <span class="pull-left">车东：{{rander}}   {{telmobel}}</span>
                            <small class="sjiao pull-left"></small>
                        </div>
                        <div class="menu_box_content_sj">
                            <div>座驾：{{cartype}} 出厂价：{{factoryPrice}} 残值:{{residual}}</div>
                            <div>车牌号：{{carCode}}</div>
                            <div>盒子状态:{{box}}</div>
                        </div>
                    </div>
                </div>
                <div class="main_menu_box ms-controller" ms-controller="follow">
                    <div class="menu_box_content margin_s_b">
                        <div class="menu_box_content_sj">
                            <div class="chuliinfo">
                                <span>处理人:{{handlePeo}}</span>
                                <span>处理操作：{{handleOpt}}</span>
                                <span>车辆状态：{{carType}}</span>
                                <span>风控：{{windColor}}</span>
                                <a href="#">详情</a>
                                <a href="#">编辑</a>
                            </div>
                            <div class="sjxqing">
                                <span class="pull-left">事件跟进详情：</span>
                                <span class="pull-right">
                                <span class="pull-left">是否推送客服记录：<i class="color_red">{{isPush}}</i></span>
                                <span class="pull-right">{{handleTimer}}</span>
                                </span>
                            </div>
                            <div class="show_cont">
                                {{detail}}
                            </div>
                        </div>
                    </div>
                    <div class="menu_box_content margin_s_b">
                        <div class="menu_box_content_sj" ms-repeat="remarksAll">
                            <div class="sjxqing">
                                <span class="pull-left">备注：</span>
                                <span class="pull-right">
                                <span class="pull-left">{{el.handlePeo}}</span>
                                <span class="pull-right">{{el.remarksTimer}}</span>
                                </span>
                            </div>
                            <div class="show_cont">
                                {{el.remarkscon}}
                            </div>
                        </div>
                        <div class="fy" ms-if="isShowPage()">
                            <div ms-widget="pager,$,$pagerOpt"></div>
                        </div>
                    </div>
                    <div class="margin_s_b">
                        <div class="margin_s_b">
                            <textarea ms-duplex="tjpz" placeholder="添加批注" name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="sjcl_content_btn">
                            <button ms-click="sucSub" class="active">确认添加</button>
                            <button>取消</button>
                        </div>
                    </div>
                    <div class="menu_box_content margin_s_b">
                        <div class="menu_box_content_sj" ms-repeat="commenAll">
                            <div class="sjxqing">
                                <span class="pull-left">批注：</span>
                                <span class="pull-right">
                                 <span class="pull-left">{{el.commenPeo}}</span>
                                <span class="pull-right">{{el.commenTimer}}</span>
                                </span>
                            </div>
                            <div class="show_cont">
                                {{el.commencon}}
                            </div>
                        </div>
                        <div class="fy" ms-if="isShowPage2">
                            <div ms-widget="pager,$pager2,$pagerOpt2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        seajs.pagejs("/static/controlSys/src/shijianchuli_xq");
        </script>
</body>

</html>
