html,body{width: 100%;}
a:hover,a:visited,a:active,a:link{text-decoration: none;}

.top{width:100%;background-color:#0b1c26;}
.top .top_div{width:100%;height:70px;border-bottom:1px solid #24333c;}
.top header{width:1110px;margin:0 auto;height:70px;line-height:70px;font-size:18px;}
.top header ul li{float:left;padding:0 20px;}
.top header ul li a{color:#fff;text-decoration:none;padding:0 15px 20px 15px;}
.top header ul li a.on{border-bottom:2px solid #0094e8;}
.top header ul li span{color:#3c4951;padding:0 10px;}
.top header ul li:first-child{padding-left: 0}
.top header ul li:last-child{float: right;padding-right: 0}
.top header ul li:nth-last-of-type(3){margin-left: 70px;}
/*首页home.htm*/
.home .ban{position:relative;height:630px;background:#0b1c26;width: 100%;overflow: hidden;}
.home .ban .swiper-slide div{width:1110px;margin:0 auto;color:#fff;margin-top:158px;position:relative;}
.home .ban .swiper-slide div h1{font-size:40px;font-weight:normal;}
.home .ban .swiper-slide div h2{font-size:23px;font-weight:normal;}
.home .ban .swiper-slide div span{display:block;width:158px;height:48px;border:1px solid #fff;border-radius:5px;text-align:center;line-height:48px;font-size:18px;color:#fff;margin-top:50px;cursor:pointer;}
.home .ban .swiper-slide a{display:block;width:784px;height:529px;position:absolute;top:-130px;right:0;}
.home .ban .swiper-slide a img{display:block;width:100%;}
.home .ban .swiper-pagination-bullet{background:none;width:60px;height:3px;opacity:1;border-bottom:2px solid #556168;border-radius:inherit;}
.home .ban .swiper-pagination-bullet-active{border-bottom:2px solid #fff;}
.home .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet{margin:0 10px;}
.home .center{width:100%;background-color:#f6f6f6;padding-bottom:117px;}
.home .center .title{width:1110px;margin:0 auto;text-align:center;color:#333;font-size:25px;padding-top:60px;}
.home .center .list{width:1110px;margin:0 auto;}
.home .center .list .index-data-block{width:340px;height:350px;float:left;margin-right:30px;margin-top:50px;position:relative;background:#fff;}
.home .center .list .index-data-intro{opacity:1;border-radius:8px;transition:width .2s ease-in-out;position:absolute;left:0;top:0;bottom:0;width:340px;overflow:hidden;}
.home .center .list .index-data-detail{opacity:0;width:0;border-radius:2px;position:absolute;bottom:0;top:0;left:50%;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;overflow:hidden;}
.home .center .list .index-data-intro-box{width:340px;position:absolute;left:0;top:0;transition:width .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;}
.home .center .list .index-data-intro-box span{display:block;width:58px;height:54px;margin-left:142px;margin-top:70px;background:url(../image/icon.png) no-repeat;}
.home .center .list .index-data-intro-box .icon1{background-position:-15px -15px;}
.home .center .list .index-data-intro-box .icon2{background-position:-88px -12px;}
.home .center .list .index-data-intro-box .icon3{background-position:-161px -12px;}
.home .center .list .index-data-intro-box span img{width:100%;display:block;}
.home .center .list .index-data-detail-title{font-size:20px;color:#333;font-weight:300;text-align:center;margin:45px 0 10px 0;}
.home .center .list .index-data-block p{font-size:13px;color:#666666;text-align:center;padding-left:34px;padding-right:34px;line-height:22px;}
.home .center .list .index-data-detail-content{transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;width:340px;height:350px;background:#0094e8;position:absolute;top:0;left:-50%;overflow:hidden;}
.home .center .list .index-data-detail-content h3{color:#fff;}
.home .center .list .index-data-detail-content>span{display:block;width:58px;height:54px;margin-left:142px;margin-top:70px;background:url(../image/icon.png) no-repeat;}
.home .center .list .index-data-detail-content .icon11{background-position:-15px -82px;}
.home .center .list .index-data-detail-content .icon21{background-position:-88px -77px;}
.home .center .list .index-data-detail-content .icon31{background-position:-161px -77px;}
.home .center .list .index-data-detail-content>span img{width:100%;display:block;}
.home .center .list .index-data-detail-list{font-size:12px;margin:0 20px;height:66px;overflow:hidden;}
.home .center .list .index-data-detail-list span{white-space:nowrap;display:inline-block;width:88px;overflow:hidden;color:#fff}
.home .center .list .index-data-detail-link{text-decoration:none;position:absolute;bottom:10px;width:120px;height:35px;line-height:35px;left:50%;margin-left:-60px;background:#fff;text-align:center;border:1px solid #6ca4de;border-radius:100px;color:#258ceb;font-size:14px;}
.home .center .list .index-data-block:hover .index-data-detail{width:100%;opacity:1;left:0;}
.home .center .list .index-data-block:hover .index-data-detail-content{left:0;}
.home .footer{width:100%;height:340px;background:#fff;}
.home .footer .title{width:1110px;margin:0 auto;text-align:center;color:#333;font-size:25px;padding-top:60px;}
.home .footer ul{width:1110px;margin:0 auto;margin-top:70px;}
.footer li{float:left;margin-left:60px;}
.footer li:first-child{margin-left:0}
.footer li:last-child{float:right;}

/*注册register.htm*/
.regist .center{width:100%;height:840px;background:#f6f6f6;position: relative;}
.regist .main{width:740px;height:840px;background:#fff;margin:0 auto;}
.regist .main .title{width:662px;margin:0 auto;font-size:20px;color:#333;padding:40px 0 20px 0;border-bottom:1px solid #e4e4e4;}
.regist .main .cont{width:440px;margin:0 auto;}
.regist .main .cont form{width:100%;margin:80px auto;}
.regist .main .cont form div{overflow:hidden;clear:both;}
.regist .main .cont form div label{clear:both;}
.regist .main .cont form div label .text{width:330px;height:37px;padding:0 2px;border:1px solid #ccc;border-radius: 5px;text-indent: 10px;}
.regist .main .cont form div label .inputCode{width:113px;}
.regist .main .cont form div label b{font-weight:normal;font-size:12px;color:#ccc;visibility:hidden;}
.regist .main .cont form div .active{background-color:#f60;}
.regist .main .cont div span{display:inline-block;width:80px;text-align:right;font-size: 18px;color: #333;font-weight: 500;margin-right: 25px;}
.regist .main .cont .submitBtn{width:135px;height:33px;background:#f60;color:#fff;margin:20px 0 0 80px;}
.regist .main .cont .changeImg{width:85px;height:22px;display:inline-block;vertical-align:bottom;text-decoration:none;color:#0094e8;font-size:13px;text-align:right;line-height:22px;}
.regist .main .cont .meg{line-height:12px;color:#999;font-size: 14px;margin: 20px 0 33px 120px;}
.regist .main .cont .code{background:url(../image/code.png) no-repeat;font-family:Arial;font-style:italic;color:white;font-size:20px;border:0;padding:2px 3px;letter-spacing:4px;font-weight:bolder;display:inline-block;cursor:pointer;width:110px;height:38px;line-height:38px;text-align:center;vertical-align:middle;}
.regist .main .cont .reader{margin-left: 110px;margin-top: 60px;font-size: 19px;}
.regist .main .cont .reader input{width: 20px;height: 20px;}
.regist .main .cont .reader a{color: #0094e8;text-decoration: none;}
.regist .main .cont .btn{width: 440px;height: 54px;text-align: center;line-height: 54px;background: #0094e8;color: #fff;font-size: 20px;border: none;border-radius: 8px;margin: 0 auto;margin-top: 50px;}
.regist .center .back{position: absolute;left: 0;bottom: 0;}
.bottom{width:100%;background:#2c2d31;text-align:center;color:#fff;padding:47px 0;font-size:16px;}