/*http://css.baojia.com/s4/e*/
body{background: #e43a3d;}
.coupons{width: 100%;overflow: hidden;}
.header{width: 100%;height: 40px;background: #1f1f1f;position: relative;}
.header a{width:0.9rem;height:1rem;display: block;position: absolute;top: 50%;left:3%;margin-top: -0.7rem;}
.header a img{width: 100%;}
.header p{text-align: center;color: #fff;line-height: 40px;font-size: 1rem;}
.top{width: 100%;position: relative;}
.top img{width: 100%;display: block;}
.top p{position: absolute;bottom: 20%;left:19%;text-align: center;color: #fff;font-size: 0.875rem;}
.download{width:82%;padding: 0.3rem 0;margin: 0 auto;margin-top:0.5rem;border-radius:1.2rem;display: block;color:#5b3f0d;font-size: 1.2rem;font-weight:bolder;text-align: center;background: #ffde00 url(http://css.baojia.com/s4/e/images/m-160303/download.png) no-repeat 97% center;background-size:1.9rem 1.9rem;}
.cont{text-align: center;margin-top: 0.5rem;color: #fff;font-size: 0.8rem;}
.footer{color: #fff;position: absolute;bottom: 1.5rem;left:14%;font-size: 0.875rem;}
}