<div class="headbar" ms-controller="header">
    <div class="container">
        <a href="#" class="headbar-brand">
            <img src="/images/logo.png">
            <span class="subBrand">短信任务</span>
        </a>
        <div class="headbar-right">
            <div class="links">您好，
                <div class="dropdown">
                    <a href="#">{{username}} <i class="icon-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">切换角色</a>
                        </li>
                        <li><a href="#">修改密码</a>
                        </li>
                        <li><a href="#">退出系统</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var headermodel = avalon.define({
        $id: 'header',
        username: '攻城狮'
    });
    avalon.scan(document.body, headermodel);
</script>